.app-header {
  width: 100%;
  position: fixed;
  background: #333;
  display: flex;
  top: 0;
  color: #fff;
  height: 8vh;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
  }
  nav {
    display: flex;
    gap: 6px;
  }
}
