.item-list-main {
  img {
    max-width: rem(280px);
    height: rem(280px);
    object-fit: fill;
    border-radius: 33px 33px 33px 33px;
  }

  .item-list-container {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(300px, 1fr)
    );
    gap: rem(25px);
    margin-top: rem(55px);
  }
  .pagination-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
}
