.item-list-main {
  display: flex;
  margin-top: rem(70px);
  flex-direction: column;
  align-items: center;

  img {
    max-width: rem(280px);
    height: rem(280px);
    object-fit: cover;
  }
  .item-list-container {
    display: flex;

    flex-wrap: wrap;
    gap: 30px;
  }
  .pagination-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
}
