.type-modal {
  position: absolute;
  left: rem(245px);
  .type-modal-container {
    display: flex;
    position: fixed;
    top: 62px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.9294117647);
    height: 50%;

    border-radius: 0.9375rem;
    flex-wrap: wrap;
    box-shadow: -15px -17px 10px #00000045;
    .btn-type-container {
      display: flex;
      // flex-direction: row;
      gap: 30px;
      align-items: center;
      // justify-content: space-evenly;
      flex-wrap: wrap;
      // align-content: center;
      padding-inline-start: rem(10px);
      padding-inline-end: rem(10px);
      padding: rem(21px);

      .btn-type {
        display: inline-block;
        font-size: 17px;
        font-weight: 500;
        font-family: "Poppins";
        text-transform: uppercase;
        color: #010716;
        background: #ffba00;
        padding: 9px 10px;
        border-radius: 5px;
        z-index: 1;
        position: relative;
        margin-right: 18px;
        border: 1px solid #ffba00;
        /* gap: 10px; */
        margin-top: 0px;
        .btn-type:hover {
          color: #ffba00;
          border: 1px solid #ffba00;
          background: none;
        }
      }
    }
  }
}
.btn-modal {
  margin-top: rem(73px);
  padding: 18px 55px 18px 55px;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  background-color: #ffffff00;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #873aa9;
  border-radius: 10px 10px 10px 10px;
}

.btn-modal:hover {
  color: #000000;
  background-color: #ffffff00;
  border-color: #ad6cca;
}
.btn-modal:active {
  text-decoration: none;
  outline: 0;
}
